*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*: before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 25px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

body{
	padding: 30px;
	background: rgba(212, 238, 242, 0.6);
}

.text1{
	font-family: Arial;
	margin-top:50px;
	
	font-size: 20px;
	text-align: center;
	width: 700px;
	margin:0 auto;
}

.text2{
	text-align: center;
	width: 700px;
	margin:0 auto;
}

.text3{
	text-align:justify;
	width: 700px;
	margin:0 auto;
}  

.example-image{
	margin-left: auto;
  	margin-right: auto;
	width: 700px;
	height: 400px;
	border: 10px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 2px  #B5B8B1;
	background: url(https://mobimg.b-cdn.net/v3/fetch/8b/8b93db8cb071ef42ca22ee907ecc37f3.jpeg) center no-repeat;
	background-size: 700px 400px;

}

.text4{
	margin:0 auto;
	width: 700px;

}

.list1{
	padding:0 0 0 25px;
	margin: 0 auto;
	width: 700px;
	background: url('../img/li.svg') left no-repeat;
	
}
.list2{
	color: #1E90FF;
	padding:0 0 0 25px;
	margin: 0 auto;
	width: 700px;
	background: url('../img/li.svg') left no-repeat;
}

.button{
	border: 2px solid white;
	text-align: center;
	margin: 0 auto;
	width: 200px;
	height: 40px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2fef0+0,e2fef0+7,e2fef0+12,fdfffe+12,e8fcf7+30,cbf9ee+54,c1f5ee+75,b4f2ee+100 */
background: #e2fef0; /* Old browsers */
background: -moz-linear-gradient(top,  #e2fef0 0%, #e2fef0 7%, #e2fef0 12%, #fdfffe 12%, #e8fcf7 30%, #cbf9ee 54%, #c1f5ee 75%, #b4f2ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e2fef0 0%,#e2fef0 7%,#e2fef0 12%,#fdfffe 12%,#e8fcf7 30%,#cbf9ee 54%,#c1f5ee 75%,#b4f2ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e2fef0 0%,#e2fef0 7%,#e2fef0 12%,#fdfffe 12%,#e8fcf7 30%,#cbf9ee 54%,#c1f5ee 75%,#b4f2ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2fef0', endColorstr='#b4f2ee',GradientType=0 ); /* IE6-9 */

}
